Repository Quibylix/multi-step-register-form: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add form with name and email inputs to first step
  cypress/e2e/app.cy.ts
  index.html
  src/style.css
Due: eslint --fix, prettier --write

feat: add multi-step form functionality
  cypress/e2e/app.cy.ts
  index.html
  src/main.ts
  src/style.css
Due: eslint --fix, prettier --write

feat: add second form with topic options for the user to select
  cypress/e2e/app.cy.ts
  index.html
  src/main.ts
  src/style.css
Due: eslint --fix, prettier --write

feat: add third form and update styles
  cypress/e2e/app.cy.ts
  index.html
  src/main.ts
  src/style.css
Due: eslint --fix, prettier --write

feat: add form validation and error messages to the first form
  cypress/e2e/app.cy.ts
  src/main.ts
  src/validators.ts
Due: eslint --fix, prettier --write

feat: add form validation and display user data in step 3
  cypress/e2e/app.cy.ts
  index.html
  src/main.ts
  src/validators.ts
Due: eslint --fix, prettier --write

feat: add hover effect to form buttons in style.css
  src/style.css
Due: prettier --write

feat: add success alert on form submission
  cypress/e2e/app.cy.ts
  src/main.ts
Due: eslint --fix, prettier --write

feat: add stepper to form
  cypress/e2e/app.cy.ts
  index.html
  src/main.ts
  src/style.css
Due: eslint --fix, prettier --write

feat: add meta description to the page
  index.html
Due: none

feat: create README.md file
  README.md
Due: none

fix: update style.css with new colors and padding
  src/style.css
Due: prettier --write

fix: add min-height to html element for retro-compatibility
  src/style.css
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.css)
